/*formatação da index*/
.container{
    background: rgb(23, 112, 53);
    
}

/*formatação da tabela*/
table,th, td{
    border: 1px solid #eeeeee;
    text-align: center;
    border-spacing: 0px;
    font-size: 12px;
    margin: auto auto;
    font-family: Arial, Helvetica, sans-serif;
}
table{
    border-bottom: 5px solid #00cccc;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.08),
    0px 20px 20px rgba(0,0,0,0.08),
    0px 30px 20px rgba(0,0,0,0.08);

}
td:hover{
    color: #555555;
    background-color: #f4f4f4;
    cursor: pointer;

}
th{
    background-color: #00cccc;
    color: white;
    padding: 15px 35px;

}
td{
    color: #999999;
    padding: 15px 35px;
}
/*formatação do formulario*/
input[type=text], select{
    width: 50%;
    padding: 10px 15px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
  }